@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,900;1,100;1,400;1,900&family=Roboto:ital,wght@1,900&display=swap');
body{
    background: linear-gradient(225deg, rgba(0,173,181,1) 0%, rgba(55,66,74,1) 55%, rgba(57,62,70,1) 62%, rgba(34,40,49,1) 100%);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.mainBox{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #111111;
}

.side_panel{

    background: #111111;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main_panel{
    width: 75%;
    height: 100%;
    background: #4d535b;
}
.upper_part{
    display: flex;
    align-items: center;
    background: #111111;
    width: 100%;
    height: 20%;
}
#search{
    width: 13%;
    height: 4%;
    position: absolute;
    top: 3%;
    right: 67.8%;
    border-radius: 20px;
    border: 2px solid #00adb5;
}
#search:hover,#search:focus{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.Extensions{
    position: absolute;
    top: 11%;
    right: 76%;
    color: aliceblue;
}
.Extensions:hover,.Extensions:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 11%;
    right: 75%;
}
.Themes{
    position: absolute;
    top: 15%;
    right: 78.7%;
    color: aliceblue;
}
.Themes:hover,.Themes:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 15%;
    right: 78.4%;
}
.Categories{
    position: absolute;
    top: 22%;
    right: 76.8%;
    color: aliceblue;
}
.Categories:hover,.Categories:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 22%;
    right: 76%;
}
.All{
    position: absolute;
    top: 26%;
    right: 79.2%;
    color: aliceblue;
    display: flex;
    align-items: inherit;
}
.All:hover,.All:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 26%;
    right: 79%;
}
.Recommended{
    position: absolute;
    top: 30%;
    right: 74.4%;
    color: aliceblue;
}
.Recommended:hover,.Recommended:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 30%;
    right: 73%;
}
.Developer_Tools{
    position: absolute;
    top: 34%;
    right: 70%;
    color: aliceblue;
}
.Developer_Tools:hover,.Developer_Tools:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 34%;
    right: 68%;
}
.News_and_weather{
    position: absolute;
    top: 38%;
    right: 74%;
    color: aliceblue;
}
.News_and_weather:hover,.News_and_weather:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 38%;
    right: 72.5%;
}
.Purchases{
    position: absolute;
    top: 42%;
    right: 77.5%;
    color: aliceblue;
}
.Purchases:hover,.Purchases:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 42%;
    right: 77%;
}
.Work{
    position: absolute;
    top: 46%;
    right: 78%;
    color: aliceblue;
}
.Work:hover,.Work:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 46%;
    right: 77.5%;
}
.Entertainments{
    position: absolute;
    top: 50%;
    right: 76%;
    color: aliceblue;
}
.Entertainments:hover,.Entertainments:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    right: 75%;
}
.Social_networks_and_communication{
    position: absolute ;
    top: 54%;
    right: 70%;
    color: aliceblue;
}
.Social_networks_and_communication:hover,.Social_networks_and_communication:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 54%;
    right: 67.5%;
}
.Special_features{
    position: absolute;
    top: 58%;
    right: 70.5%;
    color: aliceblue;
}
.Special_features:hover,.Special_features:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 58%;
    right: 68%;
}
.Photo{
    position: absolute;
    top: 62%;
    right: 79.2%;
    color: aliceblue;
}
.Photo:hover,.Photo:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 62%;
    right: 79%;
}
.line{
    width: 13%;
    height: 0.3%;
    position: absolute;
    top: 66%;
    right: 68%;
    background: #00adb5;
}
.Politics{
    position: absolute;
    top: 70%;
    right: 69%;
    color: aliceblue;
}
.Politics:hover,.Politics:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 70%;
    right: 66.5%;
}
.Conditions{
    position: absolute;
    top: 74%;
    right: 72%;
    color: aliceblue;
}
.Conditions:hover,.Conditions:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 74%;
    right: 70%;
}
.More_detailed{
    position: absolute;
    top: 78%;
    right: 72%;
    color: aliceblue;
}
.More_detailed:hover,.More_detailed:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 78%;
    right: 70%;
}
.line1{
    width: 13%;
    height: 0.3%;
    position: absolute;
    top: 20%;
    right: 68%;
    background: #00adb5;
}
.advertisement{
    position: absolute;
    top: 4%;
    right: 30%;
}
.main_line{
    width: 180%;
    height: 1%;
    position: absolute;
    top: 120%;
    right: -220px;
    background: #00adb5;
}
.back{
    width: 10%;
    height: 17%;
    position: absolute;
    top: 45%;
    right: 110%;
    border-radius: 100px;
    font-size: 40px;
    background: #111111;
    color: #00adb5;
    border: 2px solid #00adb5;
}
.back:hover{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.forward{
    width: 10%;
    height: 17%;
    position: absolute;
    top: 45%;
    right: -15%;
    border-radius: 100px;
    font-size: 40px;
    background: #111111;
    color: #00adb5;
    border: 2px solid #00adb5;
}
.forward:hover{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.circle1{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 40%;
}
.circle1:hover,.circle2:hover,.circle3:hover,.circle4:hover{
    background: #111111;

}
.circle2{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 45%;
}
.circle3{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 50%;
}
.circle4{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 55%;
}
.circle5{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 60%;
    background: #111111;
}
.shelf1{
    width: 100%;
    height: 25%;
    transform: translate(0,430px);
    display: flex;
    align-items: center;
}
.shelf2{
    width: 100%;
    height: 25%;
    transform: translate(0,455px);
    display: flex;
    align-items: center;
}
.post1{
    transform: translate(8%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.post2{
    transform: translate(16%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.post3{
    transform: translate(24%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.img1{

    width:100%;
    height: 70%;
}
.img2{
    background: #ffffff;
    width:100%;
    height: 70%;
}
.img3{
    background: #ffffff;
    width:100%;
    height: 70%;
}
.divSpan1{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}
.divSpan2{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}
.divSpan3{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}

