@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,900;1,100;1,400;1,900&family=Roboto:ital,wght@1,900&display=swap');
body{
    background: linear-gradient(225deg, rgba(0,173,181,1) 0%, rgba(55,66,74,1) 55%, rgba(57,62,70,1) 62%, rgba(34,40,49,1) 100%);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.mainBox{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #111111;
}

.side_panel{

    background: #111111;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main_panel{
    width: 75%;
    height: 100%;
    background: #4d535b;
}
.upper_part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #111111;
    width: 100%;
    height: 100%;

}
#search{
    width: 85%;
    height: 4%;
    transform: translate(20px,160px);
    border-radius: 20px;
    border: 2px solid #00adb5;
}
#search:hover,#search:focus{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.Extensions{
    transform: translate(30px,185px);
    color: aliceblue;
}
.Extensions:hover,.Extensions:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Themes{
    transform: translate(30px,200px);
    color: aliceblue;
}
.Themes:hover,.Themes:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Categories{
    transform: translate(30px,210px);
    color: aliceblue;
}
.Categories:hover,.Categories:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.All{
    transform: translate(30px,225px);
    color: aliceblue;
    display: flex;
    align-items: inherit;
}
.All:hover,.All:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Recommended{
    transform: translate(30px,240px);
    color: aliceblue;
}
.Recommended:hover,.Recommended:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Developer_Tools{
    transform: translate(30px,255px);
    color: aliceblue;
}
.Developer_Tools:hover,.Developer_Tools:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.News_and_weather{
    transform: translate(30px,270px);
    color: aliceblue;
}
.News_and_weather:hover,.News_and_weather:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Purchases{
    transform: translate(30px,285px);
    color: aliceblue;
}
.Purchases:hover,.Purchases:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Work{
    transform: translate(30px,300px);
    color: aliceblue;
}
.Work:hover,.Work:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Entertainments{
    transform: translate(30px,315px);
    color: aliceblue;
}
.Entertainments:hover,.Entertainments:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Social_networks_and_communication{
    transform: translate(30px,330px);
    color: aliceblue;
}
.Social_networks_and_communication:hover,.Social_networks_and_communication:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Special_features{
    transform: translate(30px,345px);
    color: aliceblue;
}
.Special_features:hover,.Special_features:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Photo{
    transform: translate(30px,360px);
    color: aliceblue;
}
.Photo:hover,.Photo:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.line{
    width: 85%;
    height: 0.3%;
    transform: translate(20px,370px);
    background: #00adb5;
}
.Politics{
    transform: translate(30px,375px);
    color: aliceblue;
}
.Politics:hover,.Politics:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Conditions{
    transform: translate(30px,390px);
    color: aliceblue;
}
.Conditions:hover,.Conditions:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.More_detailed{
    transform: translate(30px,400px);
    color: aliceblue;
}
.More_detailed:hover,.More_detailed:focus{
    font-size: 20px;
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.line1{
    width: 85%;
    height: 0.3%;
    transform: translate(20px,205px);
    background: #00adb5;
}
.advertisement{
    position: absolute;
    top: 4%;
    right: 30%;
}
.main_line{
    width: 180%;
    height: 1%;
    position: absolute;
    top: 120%;
    right: -220px;
    background: #00adb5;
}
.back{
    width: 10%;
    height: 17%;
    position: absolute;
    top: 45%;
    right: 110%;
    border-radius: 100px;
    font-size: 40px;
    background: #111111;
    color: #00adb5;
    border: 2px solid #00adb5;
}
.back:hover{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.forward{
    width: 10%;
    height: 17%;
    position: absolute;
    top: 45%;
    right: -15%;
    border-radius: 100px;
    font-size: 40px;
    background: #111111;
    color: #00adb5;
    border: 2px solid #00adb5;
}
.forward:hover{
    background: transparent;
    border-color: rgb(0, 187, 196);
    color: rgb(0, 186, 194);
    outline: none;
}
.circle1{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 40%;
}
.circle1:hover,.circle2:hover,.circle3:hover,.circle4:hover{
    background: #111111;

}
.circle2{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 45%;
}
.circle3{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 50%;
}
.circle4{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 55%;
}
.circle5{
    width: 3%;
    height: 5%;
    border-radius: 100px;
    font-size: 40px;
    border: 2px solid #00adb5;
    position: absolute;
    top: 105%;
    right: 60%;
    background: #111111;
}
.shelf1{
    width: 100%;
    height: 25%;
    transform: translate(0,430px);
    display: flex;
    align-items: center;
}
.shelf2{
    width: 100%;
    height: 25%;
    transform: translate(0,455px);
    display: flex;
    align-items: center;
}
.post1{
    transform: translate(8%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.post2{
    transform: translate(16%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.post3{
    transform: translate(24%,0px);
    font-size: 20px;
    width: 30%;
    height: 100%;
}
.img1{

    width:100%;
    height: 70%;
}
.img2{
    background: #ffffff;
    width:100%;
    height: 70%;
}
.img3{
    background: #ffffff;
    width:100%;
    height: 70%;
}
.divSpan1{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}
.divSpan2{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}
.divSpan3{
    background: linear-gradient(202deg, rgb(0, 245, 255) 0%, rgb(93, 205, 239) 56%, rgba(238,238,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(4px,16px);
}
